---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div class="calendar">
        <h1>Noviembre 2025</h1>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="day-number">1</div>
                     <a href="/days/Nov125" class="event">
                        <div class="event-text"></div>
                    </a>
                </td>
                <td><div class="day-number">2</div></td>
            </tr>
            <tr>
                <td><div class="day-number">3</div></td>
                <td><div class="day-number">4</div></td>
                <td><div class="day-number">5</div></td>
                <td>
                    <div class="day-number">6</div>
                    <a href="/days/Nov625" class="event">
                        <div class="event-text"></div>
                    </a>
                </td>
                <td><div class="day-number">7</div></td>
                <td>
                    <div class="day-number">8</div>
                    <a href="/days/Nov825" class="event">
                        <div class="event-text"></div>
                    </a>
                </td>
                <td><div class="day-number">9</div></td>
            </tr>
            <tr>
                <td><div class="day-number">10</div></td>
                <td>
                    <div class="day-number">11</div>
                    <a href="/days/Nov1125" class="event">
                        <div class="event-text"></div>
                    </a>
                </td>
                <td><div class="day-number">12</div></td>
                <td><div class="day-number">13</div></td>
                <td><div class="day-number">14</div></td>
                <td>
                    <div class="day-number">15</div>
                    <a href="/days/Nov1525" class="event">
                        <div class="event-text"></div>
                    </a>
                </td>
                <td>
                    <div class="day-number">16</div>
                    <a href="/days/Nov1625" class="event">
                        <div class="event-text"></div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="day-number">17</div>
                    <a href="/days/Nov1725" class="event">
                        <div class="event-text"></div>
                    </a>
                </td>
                <td><div class="day-number">18</div></td>
                <td><div class="day-number">19</div></td>
                <td><div class="day-number">20</div></td>
                <td><div class="day-number">21</div></td>
                <td>
                    <div class="day-number">22</div>
                    <a href="/days/Nov2225" class="event">
                        <div class="event-text"></div>
                    </a>
                </td>
                <td><div class="day-number">23</div></td>
            </tr>
            <tr>
                <td><div class="day-number">24</div></td>
                <td><div class="day-number">25</div></td>
                <td><div class="day-number">26</div></td>
                <td><div class="day-number">27</div></td>
                <td><div class="day-number">28</div></td>
                <td><div class="day-number">29</div></td>
                <td><div class="day-number">30</div></td>
            </tr>
                 
        </table>
    </div>
</Layout>
