---
import Apr25 from "../../months/Apr25.astro"
---

<Apr25>
</Apr25>

<div class="day">
    <h1>5 de abril de 2025</h1>
    <h1>Comida con tu familia y cumple de David</h1>
    <img class="img-169" src="/abr/5Abr25.jpg"/>
    <p>- El camino loco en coche hasta la casa de Isa</p>
</div>