---
import Apr25 from "../../months/Apr25.astro"
---

<Apr25>
</Apr25>

<div class="day">
    <h1>18 de abril de 2025</h1>
    <h1>Viernes Santo</h1>
    <img class="img-169" src="/abr/18Abr25.jpg"/>
    <p>- Eramos papi y mami viendo como estaban mi madre y mi heraman que iban de nazareno</p>
</div>