---
import Apr25 from "../../months/Apr25.astro"
---

<Apr25>
</Apr25>

<div class="day">
    <h1>16 de abril de 2025</h1>
    <h1>Miercoles Santo</h1>
    <img class="img-43" src="/abr/16Abr25.jpg"/>
    <p>- Fuimos a ver a mis abuelos</p>
    <p>- Comimos patatitas del rub y fuimos a por un heladito</p>
</div>