---
import Apr25 from "../../months/Apr25.astro"
---

<Apr25>
</Apr25>

<div class="day">
    <h1>25 de abril de 2025</h1>
    <h1>Hicimos hamburguesas juntos</h1>
    <img class="img-34" src="/abr/25Abr25.jpg"/>
    <p>- Nos salieron unas hamburguesas geniales</p>
    <p>- Los mojitos</p>
</div>