---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>15 de agosto de 2025</h1>
    <h1>Viniste a mi casa a ver a los bebés</h1>
    <img class="img-34" src="/aug/15Aug25.jpg"/>
    <p>- Viste a los bebes calvitos</p>
    <p>- Viniste a mi isla del animal crossing</p>
    <p>- Jugamos al overcooked</p>
    <p>- El rub estaba cerrado otra vez</p>
</div>