---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>14 de agosto de 2025</h1>
    <h1>Volvimos al mercantil</h1>
    <img class="img-34" src="/aug/14Aug25.jpg"/>
    <p>- Estuvimos en el mercantil con tu abuela y tu padre</p>
    <p>- Conocí a las amigas de tu abuela</p>
    <p>- Mi madre nos dió la noticia de que celeste había parido</p>
    <p>- Fuimos a dos mercadonas para ver si tenían barritas</p>
</div>