---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>12 de agosto de 2025</h1>
    <h1>Fuimos al buffet de sushi</h1>
    <img class="img-43" src="/aug/12Aug25.jpeg"/>
    <p>- Te llevé la nintendo switch de sorpresa</p>
    <p>- Estuvismo jugando un ratito a las nintendo</p>
    <p>- Nos dimos un masaje</p>
</div>