---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>16 de agosto de 2025</h1>
    <h1>Fuimos al aeropuerto</h1>
    <img class="img-43" src="/aug/16Aug25.jpg"/>
    <p>- Nos compramos ropita para el gym los dos</p>
    <p>- Probamos los milkshakes</p>
    <p>- Te compraste lencería y te la pusiste</p>
    <p>- Nos pusimos las mascarillas bebiendo vinito</p>
</div>