---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>29 de agosto de 2025</h1>
    <h1>Fuimos a Zufre</h1>
    <img class="img-43" src="/aug/29Aug25.jpg"/>
    <p>- Hicimos el camino en coche a zufre</p>
    <p>- Fuimos a pescar al pantano de zufre</p>
    <p>- No nos comimos la pizza de peperoni porque acabó en el suelo</p>
</div>