---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>2 de agosto de 2025</h1>
    <h1>Nachos + miss sushi</h1>
    <img class="img-34" src="/aug/2Aug25.jpg"/>
    <p>- Hicimos la compra para cocinar nachos y las galletas de Julia</p>
    <p>- Las galletas y los nachos estaban brutales</p>
</div>