---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>27 de agosto de 2025</h1>
    <h1>Cumpleaños de tu prima María</h1>
    <img class="img-34" src="/aug/27Aug25.jpg"/>
    <p>- Fuimos a comprar la tarta con tu prima María</p>
    <p>- Tu padre nos decía que tubieramos niños</p>
</div>