---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>31 de agosto de 2025</h1>
    <h1>Volvimos de zufre</h1>
    <video class="img-34" controls>
        <source src="/aug/31Aug25.mp4" type="video/mp4">
        <source src="/aug/31Aug25.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- Bailé break beat con tus amigos</p>
    <p>- Saltaste encima mía cuando sonó 7 locas</p>
    <p>- Te cogí un rato en el camino de recogida</p>
    <p>- Rehicimos la planificación del gym</p>
</div>