---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>7 de agosto de 2025</h1>
    <h1>Estabas mala de la espalda y fuí a cuidarte a tu casa</h1>
    <img class="img-34" src="/aug/8Aug25.jpg"/>
    <p>- Estuviste jugando al animal crossing en mi nintendo</p>
    <p>- Te di mil masajes</p>
    <p>- Mientras cocia el arroz para el almuerzo iba a verte cada minuto para darte un beso</p>
</div>