---
import Aug25 from "../../months/Aug25.astro"
---

<Aug25>
</Aug25>

<div class="day">
    <h1>9 de agosto de 2025</h1>
    <h1>Fuí al mercantil </h1>
    <img class="img-34" src="/aug/9Aug25.jpg"/>
    <p>- El ratito que estuvimos juntos hablando en la piscina sobre el invierno</p>
    <p>- En la cena tu abuelo y tu primo no pararón de picarse</p>
    <p>- Tu padre nos pilló con las manos en la masa y me tuve que escapar de tu casa</p>
</div>