---
import Dic24 from "../../months/Dic24.astro";
---

<Dic24>
</Dic24>

<div class="day">
    <h1>14 de diciembre de 2024</h1>
    <h1>Fuimos a ver las luces y le pedí ser mi novia</h1>
    <video class="img-34" controls>
        <source src="/dic/14Dic24.mp4" type="video/mp4">
        <source src="/dic/14Dic24.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- Quiso conectar su móvil al coche para poner ella la música y yo estaba super estresado</p>
    <p>- El rato que estuvimos enseñandonos el archivo de instagram en el coche</p>
</div>