---
import Dic24 from "../../months/Dic24.astro";
---

<Dic24>
</Dic24>

<div class="day">
    <h1>20 de diciembre de 2024</h1>
    <h1>Fuimos al cumpleaños de María chica y despues salimos con sus amigas de la uni</h1>
    <img class="img-34" src ="/src/assets/dic/20Dic24.jpg"/>
    <p>- Bailar si antes te hubiera conocido</p>
    <p>- Estar con sus amigas de la uni y buscarle un chico hot a Clara</p>
</div>