---
import Dic24 from "../../months/Dic24.astro";
---

<Dic24>
</Dic24>

<div class="day">
    <h1>28 de diciembre de 2024</h1>
    <h1>Fuimos a una fiesta en Vicio y te pusiste el vestido azul</h1>
    <img class="img-169" src="/dic/28Dic24.jpg" />
    <p>- Estabas preciosa con el vestido azul</p>
    <p>- El camino de vuelta donde os llevé a todas</p>
</div>