---
import Dic24 from "../../months/Dic24.astro";
---

<Dic24>
</Dic24>

<div class="day">
    <h1>22 de diciembre de 2024</h1>
    <h1>Cumpleaños de Patri</h1>
    <img class="img-43" src="/src/assets/dic/22Dic24.jpg"/>
    <p>- La partida del pueblo duerme que ganamos juntos</p>
</div>