---
import Dic24 from "../../months/Dic24.astro";
---

<Dic24>
</Dic24>

<div class="day">
    <h1>23 de diciembre de 2024</h1>
    <h1>Viniste a mi casa a pasar el día</h1>
    <img class="img-34" src="/dic/23Dic24.jpg"/>
    <p>- Lo intentamos pero no pudimos</p>
</div>