---
import Dic24 from "../../months/Dic24.astro";
---

<Dic24>
</Dic24>

<div class="day">
    <h1>27 de diciembre de 2024</h1>
    <img class="img-169" />
    <p>- Tu padre y yo nos pusimos nerviosos al vernos</p>
</div>