---
import Dic24 from "../../months/Dic24.astro";
---

<Dic24>
</Dic24>

<div class="day">
    <h1>2 de diciembre de 2024</h1>
    <h1>Misa de tu madre y cena con María la chica</h1>
    <img class="img-34" src="/dic/2Dic24.jpg"/>
    <p>- Conocí a María chica</p>
    <p>- Su madrina me pidió que la cuidase</p>
</div>