---
import Dic24 from "../../months/Dic24.astro";
---

<Dic24>
</Dic24>

<div class="day">
    <h1>7 de diciembre de 2024</h1>
    <h1>Fuimos a Lagoh a ver Wicked y después a la bolera con todos</h1>
    <img class="img-43" src="/src/assets/dic/7Dic24.jpg"/>
    <p>- Murió servita y aún así no me acordé en todo el día gracias a ella</p>
    <p>- Volvimos a ver una peli acurrucados</p>
    <p>- Celebrabamos cuando el otro hacia una buena tirada en los bolos</p>
</div>


