---
import Dic24 from "../../months/Dic24.astro";
---

<Dic24>
</Dic24>

<div class="day">
    <h1>8 de diciembre de 2024</h1>
    <h1>Vino a mi casa por primera vez y cocinamos juntos por primera vez</h1>
    <img class="img-34" src="/dic/8Dic24.jpg"/>
    <p>- Estuvimos acurrucados mirando el móvil en mi sofa con toda mi familia en casa</p>
</div>