---
import Ene25 from "../../months/Ene25.astro"
---

<Ene25>
</Ene25>

<div class="day">
    <h1>18 de enero de 2025</h1>
    <h1>Fui a comer con tu familia por primera vez</h1>
    <img class="img-43" src="/ene/18Ene25.jpg"/>
    <p>- El abrazo que me dió tu abuela al despedirnos</p>
    <p>- Tu abuela enseñandome toda la casa</p>
    <p>- Comí ramen por primera vez</p>
</div>