---
import Ene25 from "../../months/Ene25.astro"
---

<Ene25>
</Ene25>

<div class="day">
    <h1>26 de enero de 2025</h1>
    <h1>Fuimos a Carmona con tu familia</h1>
    <img class="img-169" src="/ene/26Ene25.jpg"/>
    <p>- Lo mal que lo pasamos por la mañana porque todo estaba cortado</p>
    <p>- Tu padre me invitó a quedarme en tu casa por la tarde</p>
</div>