---
import Ene25 from "../../months/Ene25.astro"
---

<Ene25>
</Ene25>

<div class="day">
    <h1>31 de enero de 2025</h1>
    <h1>Estabas triste y te viniste a mi casa</h1>
    <video class="img-34" controls>
        <source src="/src/assets/ene/31Ene25.mp4" type="video/mp4">
        <source src="/src/assets/ene/31Ene25.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- Tomamos el sol en mi balcón</p>
    <p>- Te colaste con el coche en el mercadona</p>
</div>