---
import Ene25 from "../../months/Ene25.astro"
---

<Ene25>
</Ene25>

<div class="day">
    <h1>3 de enero de 2025</h1>
    <img class="img-169" src="/src/assets/ene/3Ene25.jpg"/>
    <p>- Trabaje acostado contigo en la cama</p>
</div>