---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>

<div class="day">
    <h1>14 de febrero de 2025</h1>
    <h1>San valentín</h1>
    <img class="img-34" src="/feb/14Feb25.jpg"/>
    <p>- Lloraste cuando volvimos de casa de Laura</p>
</div>