---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>

<div class="day">
    <h1>16 de febrero de 2025</h1>
    <h1>Fuí a tu casa después de San Valentin</h1>
    <img class="img-169" src="/feb/16Feb25.jpg"/>
    <p>- Te pude presentar todo el canva</p>
    <p>- Te hice el primer coulant</p>
</div>