---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>

<div class="day">
    <h1>1 de febrero de 2025</h1>
    <h1>Fuimos los dos solos en secreto a Carmona</h1>
    <img class="img-43" src="/src/assets/feb/1Feb25.jpg"/>
    <p>- Te dormiste sobre mi en el coche</p>
    <p>- El ratito donde fuimos a ver los caballos</p>
</div>