---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>
 
<div class="day">
    <h1>27 de febrero de 2025</h1>
    <h1>Kick Off Sopra</h1>
    <img class="img-34" src="/feb/27Feb25.jpg"/>
    <p>- Me encantó estar con tus agmias y con Juanlu y que todo fuese tan bien</p>
</div>