---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>

<div class="day">
    <h1>22 de febrero de 2025</h1>
    <h1>Viaje a sanlucar</h1>
    <img class="img-34" src="/feb/22Feb25.jpg"/>
    <p>- Todas las risas de ese día</p>
    <p>- Me dabas patatas mientras conducía</p>
</div>