---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>

<div class="day">
    <h1>14 de febrero de 2025</h1>
    <h1>Fuí a tu casa</h1>
    <img class="img-43" src="/feb/2Feb25.jpg"/>
    <p>- La comida del libanes</p>
    <p>- Lloré por tu regalo</p>
</div>