---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>

<div class="day">
    <h1>20 de febrero de 2025</h1>
    <h1>Betis vs Genk</h1>
    <img class="img-34" src="/feb/20Feb25.jpg"/>
    <p>- La charla en tu patio donde sexualizabamos todo</p>
    <p>- La charla sobre tu TFG</p>
</div>