---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>
 
<div class="day">
    <h1>28 de febrero de 2025</h1>
    <h1>Viniste a mi casa el día de Andalucía</h1>
    <video class="img-34" controls>
        <source src="/feb/28Feb25.mp4" type="video/mp4">
        <source src="/feb/28Feb25.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- El rato que estuvimos acurrucados en el sofa mientras montabas un video de penita</p>
</div>