---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>

<div class="day">
    <h1>2 de febrero de 2025</h1>
    <img class="img-43" src="/feb/2Feb25.jpg"/>
    <p>- Sentí que poco a poco le iba cayendo bien a su padre y me perdía el miedo</p>
</div>