---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>
 
<div class="day">
    <h1>26 de febrero de 2025</h1>
    <h1>Fuí a tu casa a darte un masaje</h1>
    <img class="img-34" src="/feb/26Feb25.jpg"/>
    <p>- Me senti muy bien dandote un masaje</p>
    <p>- Lo hicimos mientras cocinabamos un coulant</p>
</div>