---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>

<div class="day">
    <h1>8 de febrero de 2025</h1>
    <h1>Fuimos a casa de Laura</h1>
    <img class="img-34" src="/feb/8Feb25.jpg"/>
    <p>- Lloraste cuando volvimos de casa de Laura</p>
</div>