---
import Feb25 from "../../months/Feb25.astro"
---

<Feb25>
</Feb25>

<div class="day">
    <h1>9 de febrero de 2025</h1>
    <h1>Fuí a tu casa a organizar las cosas de tu madre</h1>
    <img class="img-34" src="/feb/9Feb25.jpg"/>
    <p>- El rato hablando con tu prima</p>
    <p>- Las amigas de madre me agradecieron que os ayudase</p>
</div>