---
import Jul25 from "../../months/Jul25.astro"
---

<Jul25>
</Jul25>

<div class="day">
    <h1>15 de julio de 2025</h1>
    <h1>Cita tras tu viaje a la playa con tu prima</h1>
    <img class="img-34" src="/jul/15Jul25.jpg"/>
    <p>- Terminamos de ver Call me by your name (hasta donde pudimos)</p>
    <p>- Me regalaste flores por primera vez y me encantaron</p>
</div>