---
import Jul25 from "../../months/Jul25.astro"
---

<Jul25>
</Jul25>

<div class="day">
    <h1>18 de julio de 2025</h1>
    <h1>Fuimos al gym y al cine</h1>
    <img class="img-34" src="/jul/18Jul25.jpg"/>
    <p>- Hicimos un super entreno juntos donde tiraste 130 KG en prensa</p>
    <p>- Miramos las cositas que ibas a necesitar para tu futuro conejito</p>
    <p>- Volvimos a ver la peli acurricaditos</p>
</div>