---
import Jul25 from "../../months/Jul25.astro"
---

<Jul25>
</Jul25>

<div class="day">
    <h1>16 de julio de 2025</h1>
    <h1>Fuimos a casa de Isa a consolarla</h1>
    <img class="img-169" src="/jul/16Jul25.jpg"/>
    <p>- Primera vez que hicimos un test</p>
    <p>- El primer test falló</p>
    <p>- Todo salió bien, solo fué un susto</p>
</div>