---
import Jul25 from "../../months/Jul25.astro"
---

<Jul25>
</Jul25>

<div class="day">
    <h1>22 de julio de 2025</h1>
    <h1>Fuimos a casa de Laura a despedir a Manu</h1>
        <video class="img-34" controls>
        <source src="/jul/22Jul25.mp4" type="video/mp4">
        <source src="/jul/22Jul25.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- Hicimos el video de como sería nuestra hija con IA</p>
    <p>- Primera vez que en mi coche no te dió nada de ansiedad</p>
</div>