---
import Jul25 from "../../months/Jul25.astro"
---

<Jul25>
</Jul25>

<div class="day">
    <h1>23 de julio de 2025</h1>
    <h1>Viniste a mi casa</h1>
    <img class="img-34" src="/jul/23Jul25.jpg"/>
    <p>- Jugamos al animal crossing juntos</p>
    <p>- Te dieron dolores fuertes de la regla e intente ayudarte</p>
</div>