---
import Jul25 from "../../months/Jul25.astro"
---

<Jul25>
</Jul25>

<div class="day">
    <h1>25 de julio de 2025</h1>
    <h1>Cita sorpresa organizada por mi</h1>
    <img class="img-34" src="/jul/25Jul25.jpg"/>
    <p>- Cuando llegue no te sentias comoda con la ropa y lloraste</p>
    <p>- Te hice fotos en la puerta que tanto te gustaba</p>
    <p>- Andamos una barbaridad ese día</p>
</div>