---
import Jul25 from "../../months/Jul25.astro"
---

<Jul25>
</Jul25>

<div class="day">
    <h1>9 de julio de 2025</h1>
    <h1>Reencuentro tras el viaje de fin de curso</h1>
    <img class="img-34" src="/jul/9Jul25.jpg"/>
    <p>- El primer abrazo despues de una semana sin vernos</p>
    <p>- Ambos nos dimos masajes en la espalda</p>
    <p>- El gatito pequeño que estaba cerca de tu coche</p>
</div>