---
import Jun25 from "../../months/Jun25.astro"
---

<Jun25>
</Jun25>

<div class="day">
    <h1>14 de junio de 2025</h1>
    <h1>Fuimos a la playa con tu familia</h1>
    <img class="img-34" src="/jun/14Jun25.jpg"/>
    <p>- No dormimos casi nada la noche anterior</p>
    <p>- Estuvimos super bien abrazados en la playa</p>
    <p>- Fuimos a la pinsería a comernos una pasta brutal</p>
</div>