---
import Jun25 from "../../months/Jun25.astro"
---

<Jun25>
</Jun25>

<div class="day">
    <h1>18 de junio de 2025</h1>
    <h1>Tu graduación</h1>
    <img class="img-34" src="/jun/18Jun25.jpg"/>
    <p>- Casi lloraste cuando te di el ramo</p>
    <p>- En la cena de graduación parecia que estabamos en el combite de boda</p>
</div>