---
import Jun25 from "../../months/Jun25.astro"
---

<Jun25>
</Jun25>

<div class="day">
    <h1>13 de junio de 2025</h1>
    <h1>Cita por nuestros seis meses</h1>
    <img class="img-34" src="/jun/13Jun25.jpg"/>
    <p>- Lloraste sobre mi pecho preocupada por si me manchabas la camisa</p>
    <p>- Estubimos chill tomandonos un tinto en la alameda</p>
    <p>- Cenamos en la pizzería de las setas</p>
</div>