---
import Jun25 from "../../months/Jun25.astro"
---

<Jun25>
</Jun25>

<div class="day">
    <h1>19 de junio de 2025</h1>
    <h1>Tu fiesta de graduaci칩n</h1>
    <img class="img-34" src="/jun/19Jun25.jpg"/>
    <p>- Todos los chismes que ocurrienron esa noche</p>
    <p>- Me encant칩 acmpa침arte en tu fiesta de graduaci칩n</p>
    <p>- De vuelta a casa Lucas dijo la misma frase que yo, "Que poco voy a dormir"</p>
</div>