---
import Jun25 from "../../months/Jun25.astro"
---

<Jun25>
</Jun25>

<div class="day">
    <h1>24 de junio de 2025</h1>
    <h1>Martes de vacaciones</h1>
    <img class="img-169" src="/jun/24Jun25.jpg"/>
    <p>- Llegamos al hotel</p>
    <p>- Primera y ultima vez que nos metimos en la piscina cubierta (Era nociva para la salud)</p>
</div>