---
import Jun25 from "../../months/Jun25.astro"
---

<Jun25>
</Jun25>

<div class="day">
    <h1>28 de junio de 2025</h1>
    <h1>Sabado de vacaciones</h1>
    <video class="img-34" controls>
        <source src="/jun/28Jun25.mp4" type="video/mp4">
        <source src="/jun/28Jun25.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- Estabamos con la coña de como sería la entrada a la boda</p>
    <p>- Lloramos cuando me pusiste la canción vidoe games</p>
    <p>- Nos arreglamos para ir a cenar al hotel</p>    
</div>