---
import Jun25 from "../../months/Jun25.astro"
---

<Jun25>
</Jun25>

<div class="day">
    <h1>25 de junio de 2025</h1>
    <h1>Miercoles de vacaciones</h1>
    <img class="img-169" src="/jun/25Jun25.jpg"/>
    <p>- La fotografa vino a hacernos fotos</p>
    <p>- Probaste el san francisco y te gustó</p>
</div>