---
import Jun25 from "../../months/Jun25.astro"
---

<Jun25>
</Jun25>

<div class="day">
    <h1>27 de junio de 2025</h1>
    <h1>Viernes de vacaciones</h1>
    <img class="img-34" src="/jun/27Jun25.jpg"/>
    <p>- Me tumbé sobre ti por la tarde y pasé bastante tiempo ahí</p>
    <p>- Noche de skin care</p>  
</div>