---
import Jun25 from "../../months/Jun25.astro"
---

<Jun25>
</Jun25>

<div class="day">
    <h1>26 de junio de 2025</h1>
    <h1>Jueves de vacaciones</h1>
    <img class="img-43" src="/jun/26Jun25.jpg"/>
    <p>- Recogimos las fotos de la fotografa</p>
    <p>- Estuvimos disfrutones en la piscina</p>   
</div>