---
import Mar25 from "../../months/Mar25.astro"
---

<Mar25>
</Mar25>

<div class="day">
    <h1>1 de marzo de 2025</h1>
    <video class="img-34" controls>
        <source src="/src/assets/mar/1mar25.mp4" type="video/mp4">
        <source src="/src/assets/mar/1mar25.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- Volvimos a tener una conversación al volver de casa de Laura</p>
    <p>- Te quedaste dormida en mi hombro mientras volviamos</p>
</div>