---
import Mar25 from "../../months/Mar25.astro"
---

<Mar25>
</Mar25>
 
<div class="day">
    <h1>21 de marzo de 2025</h1>
    <h1>Viniste a casa para donar sangre</h1>
    <video class="img-34" controls>
        <source src="/mar/21Mar25.mp4" type="video/mp4">
        <source src="/mar/21Mar25.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- Fuimos a donar sangre juntos</p>
    <p>- El ratito donde yo trabajaba y ella estaba con sus trabajos, pero aún así no dejabamos de estar en contacto</p>
</div>