---
import Mar25 from "../../months/Mar25.astro"
---

<Mar25>
</Mar25>
 
<div class="day">
    <h1>29 de marzo de 2025</h1>
    <h1>IKEA</h1>
    <img class="img-169" src="/mar/29Mar25.jpg"/>
    <p>- El ratito sentados en un sofá de un salón de ikea</p>
    <p>- La forma en que nos imgaginabamos nuestro futuro juntos según lo que ibamos viendo en ikea</p>
    <p>- Como nos picabamos en cada juego</p>
</div>