---
import Mar25 from "../../months/Mar25.astro"
---

<Mar25>
</Mar25>
 
<div class="day">
    <h1>24 de marzo de 2025</h1>
    <h1>Iban a operar a tu abuelo y viniste a casa</h1>
    <video class="img-34" controls>
        <source src="/mar/24Mar25.mp4" type="video/mp4">
        <source src="/mar/24Mar25.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- El ratito que lloraste sobre mi pecho a moco tendido y lo guapa que estabas</p>
</div>