---
import Mar25 from "../../months/Mar25.astro"
---

<Mar25>
</Mar25>
 
<div class="day">
    <h1>22 de marzo de 2025</h1>
    <h1>Fuimos a lagoh y a casa de Isa</h1>
    <img class="img-34" src="/mar/22Mar25.jpg"/>
    <p>- El abrazo en casa de Isa antes de jugar al juego de mímica</p>
</div>