---
import Mar25 from "../../months/Mar25.astro"
---

<Mar25>
</Mar25>
 
<div class="day">
    <h1>7 de marzo de 2025</h1>
    <h1>Fuimos a tu gym</h1>
    <img class="img-169" src="/mar/7Mar25.jpg"/>
    <p>- El rato de risas haciendo crumbl cookies</p>
    <p>- Haccer la compra juntos</p>
</div>