
---
import Mar25 from "../../months/Mar25.astro"
---

<Mar25>
</Mar25>
 
<div class="day">
    <h1>9 de marzo de 2025</h1>
    <h1>Fuimos a ver a tu abuelo al hospital</h1>
    <img class="img-34" src="/mar/9Mar25.jpg"/>
    <p>- Las focaccias estaban buenisimas</p>
    <p>- Te apoyaste en mi hombro en el bus</p>
    <p>- Te llamó Elena para contarte que estaba mal y a Elena no le importó que estuviese yo</p>
</div>