---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>16 de mayo de 2025</h1>
    <h1>Llevamos el coche al mecánico</h1>
    <video class="img-34" controls>
        <source src="/may/16May25.mp4" type="video/mp4">
        <source src="/may/16May25.mp4" type="video/ogg">
        Your browser does not support the video tag.
    </video> 
    <p>- Solucionamos juntos el problema de que el coche no arrancase</p>
    <p>- El heladito que nos comimos esperando a la grua</p>
    <p>- El paseo después de cenar por la noche</p>
</div>