---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>11 de mayo de 2025</h1>
    <h1>Domingo de feria</h1>
    <img class="img-34" src="/may/11May25.jpg"/>
    <p>- Día de despedida</p>
    <p>- Estuve tirado en la cama contigo mientras hacias un trabajo</p>
</div>