---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>1 de mayo de 2025</h1>
    <h1>Día festivo y viniste a mi casa</h1>
    <img class="img-34" src="/may/1May25.jpg"/>
    <p>- Me hiciste el "skin care"</p>
    <p>- Estabamos abrazaditos viendo el Betis</p>
    <p>- Hicimos nuestros vision board</p>
</div>