---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>17 de mayo de 2025</h1>
    <h1>Eurovisión</h1>
    <img class="img-43" src="/may/17May25.jpg"/>
    <p>- Fuimos al tanatorio a ver a Elena</p>
    <p>- Te acaricié el pelo mientras veías eurovisión</p>
    <p>- Me contaste lo mal que te habías sentido en la comida con tu familia</p>
</div>