---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>2 de mayo de 2025</h1>
    <h1>Fuimos a tu gym y después a Mairena</h1>
    <img class="img-34" src="/may/2May25.png"/>
    <p>- Subiste tu peso máximo en prensa</p>
    <p>- Casi nos quedamos dormidos mientras jugabamos al juego de hitler</p>
</div>