---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>31 de mayo de 2025</h1>
    <h1>Fuimos al outlet a Ikea y a casa de Isa</h1>
    <img class="img-43" src="/may/31May25.jpg"/>
    <p>- Tuvimos varias discusiones y las solucionamos todas</p>
    <p>- Fue un día chulisimo en el outlet</p>
    <p>- Conseguimos tu vestido de graduación</p>
</div>