---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>6 de mayo de 2025</h1>
    <h1>Martes de feria</h1>
    <img class="img-43" src="/may/6May25.jpg"/>
    <p>- Estuvimos con Juanlu en la feria</p>
    <p>- Te ayude a vestirte de flamenca</p>
</div>