---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>7 de mayo de 2025</h1>
    <h1>Miercoles de feria</h1>
    <img class="img-34" src="/may/7May25.jpg"/>
    <p>- Juanlu conoció a toda esta gente</p>
    <p>- Comí buñuelos por primera vez</p>
    <p>- También estuvimos con tus amigas de la universidad</p>
</div>