---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>8 de mayo de 2025</h1>
    <h1>Jueves de feria</h1>
    <img class="img-34" src="/may/8May25.jpg"/>
    <p>- Almorzamos en la caseta del mercantil con tu familia</p>
    <p>- Me chivaste que marcaría el betis</p>
</div>