---
import May25 from "../../months/May25.astro"
---

<May25>
</May25>

<div class="day">
    <h1>9 de mayo de 2025</h1>
    <h1>Viernes de feria</h1>
    <img class="img-34" src="/may/9May25.jpg"/>
    <p>- Nos acoplamos con tus amigas de la uni</p>
    <p>- Conocí a tus amigas de la uni de Madrid</p>
    <p>- Nos chocamos en los coches de choque</p>
</div>