---
import Nov25 from "../../months/Nov25.astro"
---

<Nov25>
</Nov25>

<div class="day">
    <h1>16 noviembre de  de 2025</h1>
    <h1>Resaca de tu cumple</h1>
    <img class="img-34" src="/nov/16Nov25.jpg"/>
    <p>- Hice una tortilla que te gustó</p>
    <p>- Estrenamos la arrocera con un arroz con leche</p>
</div>