---
import Nov25 from "../../months/Nov25.astro"
---

<Nov25>
</Nov25>

<div class="day">
    <h1>15 noviembre de  de 2025</h1>
    <h1>Fiesta de cumple</h1>
    <img class="img-34" src="/nov/15Nov25.jpg"/>
    <p>- Te hice una tarta de queso y lloraste cuando te la dí</p>
    <p>- Hicimos la compra juntos para la fiesta de cumple</p>
    <p>- Bajamos juntos a por las pizzas</p>
</div>