---
import Nov25 from "../../months/Nov25.astro"
---

<Nov25>
</Nov25>

<div class="day">
    <h1>1 noviembre de  de 2025</h1>
    <h1>Post fiesta de Halloween</h1>
    <img class="img-43" src="/nov/1Nov25.jpg"/>
    <p>- Dormimos juntos</p>
    <p>- Te estuve ayudando a hacer la orden de transportes</p>
</div>