---
import Nov25 from "../../months/Nov25.astro"
---

<Nov25>
</Nov25>

<div class="day">
    <h1>17 noviembre de  de 2025</h1>
    <h1>Viniste a mi casa por tu cumple</h1>
    <img class="img-169" src="/nov/17Nov25.jpg"/>
    <p>- Fuimos a comer papas al rub</p>
    <p>- Estabas ronca de la fiesta</p>
</div>