---
import Nov24 from "../../months/Nov24.astro"
---

<Nov24>
</Nov24>
<div class="day">
    <h1>1 de noviembre de 2024</h1>
    <h1>Fiesta de cumpleaños de Ines (Historia)</h1>
    <img class="img-169" src="/src/assets/nov/1Nov24_1.jpg"/>
    <p>- El sabor a empanada de atún</p>
    <p>- Mi reacción al ver que me metía en mejores amigos</p>
</div>