---
import Nov24 from "../../months/Nov24.astro"
---

<Nov24>
</Nov24>
<div class="day">
    <h1>16 de noviembre de 2024</h1>
    <h1>Cumpleaños de Blanca</h1>
    <img class="img-34" src="/nov/16Nov24_1.jpg"/>
    <p>- Me agarró del brazo antes de entrar en el lidl</p> 
    <p>- Felipe diciendo que quería verme más de vez en cuando por allí</p>
    <p>- El beso antes de entrar a casa de Laura</p>
    <p>- Pusimos el ramo en un cubo de la fregona</p>
</div>