---
import Nov25 from "../../months/Nov25.astro"
---

<Nov25>
</Nov25>

<div class="day">
    <h1>11 noviembre de  de 2025</h1>
    <h1>Viniste a mi casa</h1>
    <img class="img-43" src="/nov/11Nov25.png"/>
    <p>- Hablamos acurrucados en mi cama</p>
    <p>- Fuimos a un nuevo burguer en mi pueblo</p>
</div>