---
import Nov24 from "../../months/Nov24.astro"
---

<Nov24>
</Nov24>
<div class="day">
    <h1>28 de noviembre de 2024</h1>
    <h1>Fuimos a tomar café después de mi trabajo</h1>
    <img class="img-34" src="/src/assets/nov/28Nov24.jpg"/>
    <p>- Softlaunch</p> 
    <p>- Había dos personas hablando en inglés y estaba escuchando su conversación</p>
</div>