---
import Nov24 from "../../months/Nov24.astro"
---

<Nov24>
</Nov24>
<div class="day">
    <h1>20 de noviembre de 2024</h1>
    <h1>Fuimos al cine a ver Gladiator 2</h1>
    <img class="img-34" src="/nov/20Nov24_1.jpg"/>
    <p>- Volvimos a andar agarrados</p>
    <p>- Vimos la pelicula acurrucados</p> 
</div>