---
import Nov25 from "../../months/Nov25.astro"
---

<Nov25>
</Nov25>

<div class="day">
    <h1>22 noviembre de  de 2025</h1>
    <h1>Día navideño</h1>
    <img class="img-169" src="/nov/22Nov25.jpg"/>
    <p>- Fuimos a comprar el regalo de Isa</p>
    <p>- Fuimos a ver los adornos para el arbol de navidad</p>
    <p>- Comimos en un itliano una pizza con mortadela de pistacho top</p>
</div>