---
import Nov24 from "../../months/Nov24.astro"
---

<Nov24>
</Nov24>
<div class="day">
    <h1>22 de noviembre de 2024</h1>
    <h1>Cena en la hamburguesería que se equivocaron (Tenemos que probar la vacío) y viapol con Isa y los niños</h1>
    <video class="img-34" controls>
        <source src="/src/assets/nov/22Nov24.mp4" type="video/mp4">
        <source src="/src/assets/nov/22Nov24.mp4" type="video/ogg">
      Your browser does not support the video tag.
    </video> 
    <p>- Debatimos toda la noche si debería ir a la misa de su madre</p> 
</div>