---
import Nov24 from "../../months/Nov24.astro"
---

<Nov24>
</Nov24>
<div class="day">
    <h1>6 de noviembre de 2024</h1>
    <h1>Primera cita</h1>
    <img class="img-34" src="/nov/6Nov24_1.jpg"/>
    <p>- Palillos</p> 
    <p>- ¿Tengo mocos?</p>
    <p>- La pareja del sushi que estaba haciendo fotos</p>
</div>