---
import Nov25 from "../../months/Nov25.astro"
---

<Nov25>
</Nov25>

<div class="day">
    <h1>6 noviembre de  de 2025</h1>
    <h1>Rememoramos nuestra primera cita</h1>
    <video class="img-34" controls>
        <source src="/nov/6Nov25.mp4" type="video/mp4">
        <source src="/nov/6Nov25.mp4" type="video/ogg">
      Your browser does not support the video tag.
    </video> 
    <p>- Recordamos la primera cita abrazados en tu cama</p>
    <p>- Volimos al you sushi y comimos en la misma mesa</p>
    <p>- Nos quedamos un rato hablando en tu coche sobre el futuro y las cosas</p>
</div>