---
import Nov25 from "../../months/Nov25.astro"
---

<Nov25>
</Nov25>

<div class="day">
    <h1>8 noviembre de  de 2025</h1>
    <h1>Comida con la familía de tu abuela</h1>
    <img class="img-43" src="/nov/8Nov25.jpg"/>
    <p>- Conocí a toda la familia de tu abuela</p>
    <p>- Cenamos en un mexicano top de la alameda</p>
    <p>- Probé yaoyao por primera vez(Y dimos un paseo historico para ir)</p>
</div>