---
import Oct25 from "../../months/Oct25.astro"
---

<Oct25>
</Oct25>

<div class="day">
    <h1>18 de octubre de 2025</h1>
    <h1>Cumpleaños de laura</h1>
    <img class="img-34" src="/oct/18Oct25.jpg"/>
    <p>- Me traías comida mientras cocinaba en la plancha</p>
    <p>- La conversación con Laura y Felipe al final de todo</p>
    <p>- Dormimos juntos en tu casa después del cumple</p>
</div>