---
import Oct25 from "../../months/Oct25.astro"
---

<Oct25>
</Oct25>

<div class="day">
    <h1>10 de octubre de 2025</h1>
    <h1>Mi casa, lagoh y koreano</h1>
    <img class="img-169" src="/oct/10Oct25.jpg"/>
    <p>- Fuimos de compras por lagoh</p>
    <p>- Te quedaste dormida en mi cama y te acabé arropando</p>
    <p>- El koreano estaba increible</p>
</div>