---
import Oct25 from "../../months/Oct25.astro"
---

<Oct25>
</Oct25>

<div class="day">
    <h1>12 de octubre de 2025</h1>
    <h1>Fui a tu casa a ver interestellar</h1>
    <img class="img-169" src="/oct/12Oct25.jpg"/>
    <p>- Me cocinaste una carbonara riquisima</p>
    <p>- Nos acurrucamos en tu salón para ver interestelar</p>
    <p>- Lloraste cuando te abracé porque te dije que me tenía que ir</p>
</div>