---
import Oct25 from "../../months/Oct25.astro"
---

<Oct25>
</Oct25>

<div class="day">
    <h1>19 de octubre de 2025</h1>
    <h1>Estuvimos en tu casa</h1>
    <img class="img-169" src="/oct/19Oct25.jpg"/>
    <p>- Nos llegamos a darle el regalo a tu abuela</p>
    <p>- Hicimos pasta con pesto</p>
    <p>- Jugamos a quitarnos los calcetines</p>
    <p>- Echamos dos seguidos</p>
    <p>- El tio chungo que gritaba ¿QUE HAGO?</p>
</div>