---
import Oct25 from "../../months/Oct25.astro"
---

<Oct25>
</Oct25>

<div class="day">
    <h1>24 de octubre de 2025</h1>
    <h1>Fuí a tu casa</h1>
    <img class="img-169" src="/oct/24Oct25.jpg"/>
    <p>- Me regalaste flores</p>
    <p>- Hicimos un poke riquisimo</p>
    <p>- Tu casa olía a la dama de noche que te llevé</p>
</div>