---
import Oct25 from "../../months/Oct25.astro"
---

<Oct25>
</Oct25>

<div class="day">
    <h1>31 de octubre de 2025</h1>
    <h1>Fiesta de Halloween</h1>
    <img class="img-169" src="/oct/31Octu25.jpg"/>
    <p>- El camino a casa de Laura con musica a tope</p>
    <p>- Entre los dos nos llevamos parte de la decoración de la fiesta</p>
    <p>- Nos fuimos solos detrás de una camioneta</p>
</div>