---
import Oct25 from "../../months/Oct25.astro"
---

<Oct25>
</Oct25>

<div class="day">
    <h1>4 de octubre de 2025</h1>
    <h1>Quedamos y despues con los niños</h1>
    <img class="img-34" src="/oct/4Oct25.jpg"/>
    <p>- Fuimos a por un bowl</p>
    <p>- Vi a avenita por primera vez en tu casa</p>
    <p>- Tuvimos charlita después en el parking de siempre </p>
</div>