---
import Sep25 from "../../months/Sep25.astro"
---

<Sep25>
</Sep25>

<div class="day">
    <h1>13 de septiembre de 2025</h1>
    <h1>IKEA y bolos </h1>
    <img class="img-34" src="/sep/13Sep25.jpg"/>
    <p>- Vimos como sería nuestra casa en IKEA</p>
    <p>- Fuimos de compras en el centro comercial</p>
    <p>- Charla y lloradita en el coche</p>
</div>