---
import Sep25 from "../../months/Sep25.astro"
---

<Sep25>
</Sep25>

<div class="day">
    <h1>19 de septiembre de 2025</h1>
    <h1>Viniste a mi casa</h1>
    <img class="img-34" src="/sep/19Sep25.jpg"/>
    <p>- Tuvimos nuestra primera discusión y la solucionamos bien</p>
    <p>- Fue mi prime futbolístico</p>
    <p>- Observamos una primera cita</p>
</div>