---
import Sep25 from "../../months/Sep25.astro"
---

<Sep25>
</Sep25>

<div class="day">
    <h1>28 de septiembre de 2025</h1>
    <h1>Te volviste a casa tras la feria</h1>
    <img class="img-34" src="/sep/28Sep25.jpg"/>
    <p>- Estabamos reventados de la feria</p>
    <p>- Somos los mejores en el overcook </p>
    <p>- Te llevaste a avena a tu casa</p>
</div>