---
import Sep25 from "../../months/Sep25.astro"
---

<Sep25>
</Sep25>

<div class="day">
    <h1>20 de septiembre de 2025</h1>
    <h1>Fuimos a comprar la jaula de avena</h1>
    <img class="img-34" src="/sep/20Sep25.jpg"/>
    <p>- Estuvimos comprado todas las cositas para avena</p>
    <p>- Cenamos en el you sushi</p>
    <p>- Comimos un heladito de NYC ICY(Apreciese mi pronunciación)</p>
</div>