---
import Sep25 from "../../months/Sep25.astro"
---

<Sep25>
</Sep25>

<div class="day">
    <h1>27 de septiembre de 2025</h1>
    <h1>Feria de los palacios</h1>
    <img class="img-34" src="/sep/27Sep25.jpg"/>
    <p>- Fuimos a comer con mi tía</p>
    <p>- Jugamos al animal crossing antes de salir</p>
    <p>- Los campos de detras de la feria</p>
</div>