---
import Sep25 from "../../months/Sep25.astro"
---

<Sep25>
</Sep25>

<div class="day">
    <h1>26 de septiembre de 2025</h1>
    <h1>Viniste a mi casa para la feria</h1>
    <img class="img-34" src="/sep/26Sep25.jpg"/>
    <p>- Fuimos a la feria por primera vez</p>
    <p>- Almorzamos en la caseta de mi hermana</p>
    <p>- Conociste a la mayoría de mis amigos y amigas</p>
    <p>- El hombre que salio a trabajar tempranito</p>
    <p>- Primera vez que duermes conmigo en mi casa</p>
</div>