---
import Sep25 from "../../months/Sep25.astro"
---

<Sep25>
</Sep25>

<div class="day">
    <h1>5 de septiembre de 2025</h1>
    <h1>Fuimos a Chipiona</h1>
    <img class="img-34" src="/sep/5Sep25.jpg"/>
    <p>- Volvió la alergia a los gatos</p>
    <p>- Estuvimos en la piscina hiper fria de la urbanización</p>
    <p>- Fuimos a la farmacia a por pastillas pa la alergia</p>
</div>