---
import Sep25 from "../../months/Sep25.astro"
---

<Sep25>
</Sep25>

<div class="day">
    <h1>6 de septiembre de 2025</h1>
    <h1>Día en chipiona </h1>
    <img class="img-43" src="/sep/6Sep25.jpg"/>
    <p>- Nos caimos con la cama jugando al animal crossing</p>
    <p>- Vimos el atardecer juntitos</p>
    <p>- MR aura</p>
</div>